In [10]:
print()

In [9]:
print('This is an apple','it is a fruit','i dont like apples')

This is an apple it is a fruit i dont like apples

In [8]:
print("SIMRAN SHARMA")

SIMRAN SHARMA

In [4]:
print("This is Python Data Science")
print("We are going to do code")
print("and learn the secret of python")
print("thats it")

This is Python Data Science
We are going to do code
and learn the secret of python
thats it

# Raw output are only for developers understanding

In [15]:
230+3290-23

3497

In [45]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

There are few settings in print functions that we can provide whenever we want to print something.

sep = seperation symbol emoji (Emoji = window + .)

In [22]:
print("SIMRANâœ¨SHARMA")

SIMRANâœ¨SHARMA

In [35]:
print(1,2,3,4,5, sep='ðŸ˜ŠðŸ˜ŽðŸ˜˜ðŸ˜‰ðŸ˜')

1ðŸ˜ŠðŸ˜ŽðŸ˜˜ðŸ˜‰ðŸ˜2ðŸ˜ŠðŸ˜ŽðŸ˜˜ðŸ˜‰ðŸ˜3ðŸ˜ŠðŸ˜ŽðŸ˜˜ðŸ˜‰ðŸ˜4ðŸ˜ŠðŸ˜ŽðŸ˜˜ðŸ˜‰ðŸ˜5

In [34]:
print(1,2,3,4,5,sep=',',end='.')

1,2,3,4,5.

# DELETE (del) - del is use to delete variable from the memory.

In [15]:
y = 20
z = 30 
del y
print(z)

30

\n = escape character for new line

end = end parameter is an optional parameter ,it prints after all the output statement have been returned.

end and sep are optional parameters of Python . The end parameter is basically prints all the output objects present in one output statement have been returned . The sep parameter differentiates between two objects .

In [19]:
# Example
a="THE"
b="SIMRAN SHARMA"
print(a,b,sep=',')
print(a,b,end='.')

THE,SIMRAN SHARMA
THE SIMRAN SHARMA.

# To take input from user we use input( ) function

In [2]:
name = input('What is your name? ')
city = input('What city do you live in? ')
print("So according to you")
print('You are', name)
print('And you live in', city)

So according to you
You are SIMRAN SHARMA
And you live in LUCKNOW

# THERE ARE 2 TYPES OF STATEMENTS IN PYTHON -
- SINGLE-LINE STATEMENT 
- MULTI-LINE STATEMENT

In [48]:
# SINGLE-LINE STATEMENT 
print("This is Python Data Science")
print("We are going to do code")
print("and learn the secret of Python")
print("that's it")

This is Python Data Science
We are going to do code
and learn the secret of python
thats it

In [21]:
print('This is Python Datascience \n we are going to do code')

This is Python Datascience
 we are going to do code

In [20]:
print ("This is Python Datascience \n we are going to do code")

This is Python Datascience
 we are going to do code

In [32]:
print('This is PYTHON DATASCIENCE')
print('We are going to do code')

This is PYTHON DATASCIENCE
We are going to do code

In [38]:
# MULTI-LINE STATEMENT
print('''This is Python Datascience course 
we are going to do code''')

This is Python Datascience course
we are going to do code

In [28]:
print('THIS')
print('is')
print('multiline')
print('message')

THIS
is
multiline
message

# LEVEL 1

# PYTHON DATATYPES AND VARIABLES IN PROGRAMMING

# CODING :-
        1. Variables
        2. Datatypes
        3. Keywords
        4. Statements
        5. Operators

# 1. VARIABLES - are also called as containers.
            - it can start with alphabet but can have numbers and underscores(_)
            - but no special characters can be used in variables.
            - storage location for data in a computer programs.
            - it can be used to store a value and retrieve the value.
            - value in a variable can be changed anytime by coder during execution of program.
            - value of variables determines datatypes of the variable.

In [1]:
# Variable Example
age=21
color2='red'
name='SIMRAN SHARMA'
is_sleeping=False

# 2. DATATYPES - THERE ARE 9 DATATYPES IN PYTHON-
1. integer
2. float
3. string
4. boolean
5. None
6. List[]
7. Tuple()
8. Set{}
9. Dictionary{}

# 1. INTEGER - can be of any length, it is only limited by the memory available.
          - we can use type() function to know which class a variable or a value belongs to.
          - it can be of any length, it is only limited by the memory available
          - example- 1,+2,-50,319

In [30]:
# Integer Example
x=21111111115423788451453121542421
print(x)

21111111115423788451453121542421

# 2. FLOATING-POINT NUMBERS - is also called as float.
                         - is a number, positive or negative, containing one or more decimals.
                         - we can use type() function to know which class is a variable or a value belongs to.
                         - float can also be scientific numbers with an 'e' to indicate the power of 10
                         - example- 1.1,2.0,-3.14,0.1111

In [50]:
# Floating-point Example
x=1.10
y=1.0
z=-35.59
i=87.7e100
print(x,y,z,i)

1.1 1.0 -35.59 8.77e+101

In [49]:
x=10.0
print('x')

x

In [33]:
x=10.0
print(x)

10.0

# 3. STRINGS - STRING LITERALS in python are surrounded by either single quotation marks or double quotation marks.
          - 'hello' is same as "hello"
**MULTILINE STRINGS : WE CAN ASSIGN A MULTILINE STRING TO A VARIABLE BY USING THREE QUOTES '''Hello, Let us do coding'''**

In [51]:
# STRING EXAMPLE
name = '''SIMRAN SHARMA'''
age = 21
color = '''Pink'''
institute = '''DIGIPODIUM'''

# 4. BOOLEAN - Boolean represents one of the two values: True or False
          - It tells the expression state i.e True or False

In [36]:
# Boolean Example
X=is_coding=True
print(X)

True

In [37]:
is_fun=True
are_you_bored=False
print(is_fun)
print(are_you_bored)

True
False

# 5. NONETYPE - When we don't want to store something but want to create an empty variable
           - The None keyword is used to define a none value or no value at all
           - None is not same as the 0, False or an empty string
           - None is a datatype of of its (Nonetype) and only none can be none

In [2]:
# None Example
x = None

**THE SPECIAL DATATYPES ARE OF 4 TYPES- LIST[], TUPLES(), SETS{} AND DICTIONARY{}**

LISTS        l = []     - MUTABLE                - ORDERED LIST       
TUPLE        t = ()     - IMMUTABLE              - ORDERED TUPLE      
SETS         set={}     - MUTABLE                - UNORDERED SET      
DICTIONARY   d = {}     - HOLDS KEY:VALUE PAIRS  - ORDERED DICTIONARY

# 6. list[] - List is an ordered sequence of items
       - List is the most used datatype in python and it is very useful
       - Items in a list do not to be of the same type
       - Items are separated by commas and are enclosed within []
       - List are mutable (modifiable) datatypes

In [3]:
# List Example
List = [1,2]
print(List)

[1, 2]

In [2]:
vals = [1, 2.2, 'python']
print(vals)

[1, 2.2, 'python']

In [3]:
colors = ['red', 'green', 'yellow']
print(colors)

['red', 'green', 'yellow']

# 7. tuple()  - Tuple is an ordered sequence of items
           - In python tuples are written with ()
           - And cannot change dynamically 
           - usually faster than lists
           - Tuple are immutable (unchangeable) and are used internally by python mostly

In [7]:
# Tuple Example
Tuple = (2,4,6,8,10)
print(Tuple)

(2, 4, 6, 8, 10)

In [4]:
vals = (1,20.0,"SIMRAN SHARMA")
print(vals)

(1, 20.0, 'SIMRAN SHARMA')

In [6]:
colors = ('red', 'yellow', 'blue')
print(colors)

('red', 'yellow', 'blue')

# 8. set{} - Sets is an unordered collection of unique items
        - Sets have unique values
        - Sets eliminates duplicates 
        - Set operations like- intersection, union, difference, etc on two sets
        - Sets are mutuable datatypes

In [8]:
# Sets Example
Sets = {1,2,3,4,5,6,7,8,9,10,10}
print(Sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
Sets = {'SIMRAN','Email','simran21@gmail.com','Age',21}
print(Sets)

{'SIMRAN', 'Age', 'simran21@gmail.com', 21, 'Email'}

# 9. dict{} - It is an ordered collection of Key-value pairs(3,7)
            - It is used when we have huge amount of data
            - Items in a dictionary do not to be of same type
            - Key and value can be of any type
            - dict{ }
            - Each item being a pair in the form of key:value

In [11]:
# Dictionary Example
car_info = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year" : "1964"
}

# LEVEL 2

# CODING :-
        1. Variables
        2. Datatypes
        3. Keywords
        4. Statements
        5. Operators

**WHEN WE ASK INPUT FROM THE USER , THEN WE USE INPUT() FUNCTION TO PERFORM OPERATIONS AND RETURN SOME OUTPUT**

In [13]:
#INPUT BY USER IS DONE BY USING input() function
name=input('What is your name')
age=input('Tell me your age')
print('Hello, I am' , name)
print('My age is', age)

Hello, I am SIMRAN SHARMA
My age is 21

# 3. KEYWORDS IN PYTHON - THERE ARE 35 KEYWORDS IN PYTHON
                     - Keywords are special reserved words in python , which conveys special meaning
                     - They are used to define the structure and syntax of the python program
                     - It can't be used for anything but those specific purposes
                     - They are Case-Sensitive

# 35 TYPES OF KEYWORDS IN PYTHON 3.9.0 :-
01. False
02. None
03. True
04. and
05. as
06. assert
07. async
08. await 
09. break
10. class
11. continue
12. def
13. del
14. elif
15. else
16. except
17. finally 
18. for
19. from
20. global
21. if
22. import
23. in 
24. is
25. lambda
26. nonlocal
27. not
28. or
29. pass
30. raise
31. return
32. try
33. while
34. with
35. yield

# 4. STATEMENTS -

# THERE ARE TWO TYPES OF STATEMENTS :-
   1. SINGLE-LINE STATEMENT
   2. MULTI-LINE STATEMENT

In [1]:
# SINGLE-LINE STATEMENT 
print("This is Python Data Science")
print("We are going to do code")
print("and learn the secret of Python")
print("that's it")

This is Python Data Science
We are going to do code
and learn the secret of Python
that's it

In [11]:
print('Simran Sharma \n Age is 21')

Simran Sharma
 Age is 21

In [14]:
# MULTI-LINE STATEMENT
print('''This is python datascience
We are going to do code''')

This is python datascience
We are going to do code

# 5. OPERATORS - OPERATORS ARE USED TO PERFORM OPERATIONS ON VARIABLES AND VALUES

# OPERATORS IN PYTHON - THERE ARE 7 OPERATORS IN PYTHON :-
    1. ARITHMETIC OPERATOR
    2. ASSIGNMENT OPERATOR
    3. COMPARISON OPERATOR
    4. LOGICAL OPERATOR
    5. IDENTITY OPERATOR
    6. MEMBERSHIP OPERATOR
    7. BITWISE OPERATOR

# 1. Arithmetic Operators

In [3]:
# Arithmetic operators Example
a = 100
b = 33

print( a + b ) # add
print( a - b ) # sub
print( a * b ) # mul
print( a / b ) # float div
print( a // b ) # int div
print( 23 % 5 ) # remaider
print( a ** b) # exponentiation

133
67
3300
3.0303030303030303
3
3
1000000000000000000000000000000000000000000000000000000000000000000

# 2. Assignment Operators

In [6]:
# assignment operators
a = 10
b = 5
c = 3
# alternate way to assign a value to a variable
x, y, z = 10, 20, 30

In [16]:
# Assignment Operators Example
x = 25
y = 15
print(x, y)

25 15

# For updating

In [7]:
a += 2 # update a with a + 2

In [17]:
# For updating Example
x += 5
y -= 5
print(x, y)

30 10

In [18]:
x *= 2
y %= 3
print(x, y)

60 1

In [19]:
x /= 10
y *= 5
print(x, y)

6.0 5

In [20]:
x **= 2
y //= 2
print(x,y)

36.0 2

# 3. Comparison Operators - compares two values and returns a boolean value, either true or false. Python has 6 comparison operators

In [9]:
# comparison operators
print(a > b)  # greater than
print(a >= b) # greater than or equal to
print(a < b)  # less than
print(a <= b) # less than or equal to
print(a == b) # equal to
print(a != b) # not equal to

True
True
False
False
False
True

In [21]:
# Comparison Operator Example
print(a > b) # greater than
print(a < b) # less than
print(a >= b) # greater than equals to
print(a <= b) # less than equals to
print(a != b) # not equals to 
print(a == b) # equals to

True
False
True
False
True
False

# 4. Logical operators - used to combine conditional statements.

In [8]:
# logical oprerators (and, or, not)
print(a > b and a > 5)
print(a < b and a > 5)
print(a > b or a > 5)
print(a < b or a > 5)
print(a < b or a < 5)
print(not a < b)
print(not a > b)
print(not a and not b and not c)

True
False
True
True
False
True
False
False

In [22]:
# Logical operators Example
print(a > b and a < b)  # When both condition true
print(a > b or a < b) # return true if one statement is true 
print(not (a  > b and a  > b))

False
True
False

# 5. Bitwise Operators - are used to compare binary numbers
 # There are 6 types = &, |, ^, ~, <<, >>

# 6. Membership Operators - are used to test if a sequence is presented in an object or for searching of an item (case sensitive)

In [10]:
# membership operators (in)
colors = ['red','blue','green','yellow','orange']
print('red' in colors)
print('Red' in colors)
print('RED' in colors)
print('blue' in colors)
print('yellow' in colors)
print('purple' in colors)

True
False
False
True
True
False

In [11]:
msg = "Its the journey that matters"
print('journey' in msg)
print('destination' in msg)

True
False

In [23]:
colors = ['red', 'black','white','pink','yellow']
print('red' in colors)
print('green' not in colors)

True
True

# is Operator - to check whether two object belong same memory location or not

# Questions:

- wap to calculate the area of a circle
- wap to calculate the area of a rectangle
- wap to calculate the area of a triangle
- wap to calculate the hypotenus using perpendicular and base
- wap to calculate a factorial of 5

 # Q1. WAP to calculate the area of a cicle

In [24]:
radius = 10
area = 3.14 * radius ** 2
print (area ,"for a circle")

314.0 for a circle

In [4]:
radius = int(input("enter the radius of a circle"))
area = 3.14 * radius ** 2
print (area, "for a circle with radius",radius)

12.56 for a circle with radius 2

# Q2. WAP to calculate the area of the rectangle

In [26]:
l = 12
b = 13
print ("the area of the rectangle is",l * b)

the area of the rectangle is 156

In [30]:
length = float(input("Enter the length of rectangle"))
breadth = float(input("enter the breadth of rectangle"))
print (length * breadth, "the area of a rectangle")

156.0 the area of a rectangle

# Q3. WAP to calculate the area of a triangle

In [31]:
height = int(input("enter the height of the triangle"))
base = int(input("enter the base of the triangle"))
print (0.5 * height * base," is the area of the triangle")

78.0  is the area of the triangle

# Q4. WAP to calculate the hypotenuse using base and perpendicular

In [2]:
p = int(input("enter the perpendicular "))
b = int(input("enter the base"))
print (p * p + b * b, "is the hypotenuse")

5 is the hypotenuse

# Q5. WAP to calculate a factorial of 5

In [3]:
num = int(input('enter a number: '))
fact = math.factorial(num)
print('Factorial of', num, 'is', fact)

NameError: name 'math' is not defined